
    <div class="container my-3">
    <div class="row">
      <div class="col-sm-6">
        <h3>¿Que es una calculadora?</h3>
        <p>
           Una calculadora es un dispositivo que se utiliza para realizar cálculos aritméticos. 
           Aunque las calculadoras modernas incorporan a menudo un ordenador de propósito general, 
           se diseñan para realizar ciertas operaciones más que para ser flexibles.
        </p>
        <p>
           En el pasado, se utilizaban como apoyo al trabajo numérico ábacos, comptómetros,
           ábacos neperianos, tablas matemáticas, reglas de cálculo y máquinas de sumar.
        </p>
      </div>
      
        <div class="col-sm-6">
            <img src="https://images.vexels.com/media/users/3/139836/isolated/preview/cbb25ff6f1471030763f0709c87e276a-icono-de-calculadora-by-vexels.png"
             class="rounded-circle" alt="Calculator" width="300" height="300"> 
          </div>
      
    </div>
  </div>